<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d56173">  <td>21/11/19 12:52:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Create_a_Entry.initialise()[pri:0, instance:test2.Create_a_Entry@15d0c81b]">&gt;&gt;initialise</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/11/19 12:53:34</td>   <td>51451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Create_a_Entry.creating_Voting_Period()[pri:1, instance:test2.Create_a_Entry@15d0c81b]">creating_Voting_Period</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/11/19 12:54:07</td>   <td>83972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Create_a_Entry.addForm()[pri:2, instance:test2.Create_a_Entry@15d0c81b]">addForm</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/11/19 12:55:47</td>   <td>184286</td> <td>&nbsp;</td><td title="&lt;&lt;Create_a_Entry.afterexecution()[pri:0, instance:test2.Create_a_Entry@15d0c81b]">&lt;&lt;afterexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="a863b6">  <td>21/11/19 12:55:48</td>   <td>185344</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:test2.Create_a_Entry@15d0c81b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
</table>
