<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c6fbb">  <td>21/11/16 18:23:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Verify_Dashboard_Displayed.initialise()[pri:0, instance:test2.Verify_Dashboard_Displayed@6acdbdf5]">&gt;&gt;initialise</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>21/11/16 18:23:37</td>   <td>29062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_Dashboard_Displayed.verify_Dashboard_Screen()[pri:0, instance:test2.Verify_Dashboard_Displayed@6acdbdf5]">verify_Dashboard_Screen</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>21/11/16 18:23:48</td>   <td>39560</td> <td>&nbsp;</td><td title="&lt;&lt;Verify_Dashboard_Displayed.afterexecution()[pri:0, instance:test2.Verify_Dashboard_Displayed@6acdbdf5]">&lt;&lt;afterexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>21/11/16 18:23:53</td>   <td>44422</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:test2.Verify_Dashboard_Displayed@6acdbdf5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
</table>
